.App {
  text-align: center;
}

@font-face {
  font-family: FSDillon;
  src: url('fonts/FSDillonProRegular.woff');
}
#root {
  font-family: FSDillon, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-size: 18px;
}

.mapContainer {
  top: 70px;
  bottom: 50px;
  height: 200px !important;
}
