.searchForm {
  font-size: 1em;
  width: calc(100% - 0.4em);
  margin: 0.2em;
}
.searchForm input {
  display: block;
  width: 100%;
  margin-bottom: 0.2em;
  font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}

.searchFormInputList {
    padding: 1.5rem;
    margin: 1rem -15px 0;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    border: solid #f7f7f9;
}

.formButton {
  border-radius: 25px;
  background-color: #E62460;
  color: #fff;
  margin-top: 22px;
  width: 100%;
}

.formButton:hover {
  color: #000;
}

.credits {
  text-align: right;
  font-style: italic;
}
